* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
    padding: 80px 0;
}

.hud {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-size: 45px;
    padding: 0 22px;
}

.msg-box {
    padding: 22px 0;
}

.msg {
    width: 100%;
    font-size: 14px;
    margin: 4px 0;
    padding: 10px;
}

.msg span {
    line-height: 20px;
}

.time-stamp {
    color: #AAAAAA;
}

.sender, .receiver {
    font-weight: 700;
}

.status {
    background-color: #DCDCDC;
}

.public {
    background-color: #FFFFFF;
}

.private {
    background-color: #FFDEDE;
}

.input-msg {
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    font-size: 26px;
}

.input-msg ion-icon {
    padding: 18px;
}

.input-msg input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: black;
    border: none;
    padding-left: 18px;
}

.input-msg input:focus {
    outline: none;
}

::placeholder {
    color: black;
    opacity: 1;
    font-style: italic;
}